.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ajusta la altura según sea necesario */
  }
  
  .center-image {
    text-align: center;
  }