.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .class-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .label-label {
    font-weight: bold;
  }
  
  .input-field,
  .rut-field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
  }
  
  .coordinates-label {
    font-style: italic;
    color: #777;
    font-size: 0.9rem;
  }
  