<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clase Registrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de la Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label *ngIf="profesor" class="profesor">{{ profesor }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-input value="Programación" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="sala" class="sala">{{ sala }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="dia" class="dia">{{ dia }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="hora" class="hora">{{ hora }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" class="label">Nombre Alumno:</ion-label>
          <ion-input class="input" disabled>{{ currentUser }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="label">Rut Alumno:</ion-label>
          <ion-input *ngIf="rut" class="rut">{{ rut }}</ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-label style="display: flex; justify-content: center;">{{ coordinatesText }}</ion-label>
  </ion-card>


</ion-content>
